*{
  color: white;
  /*font-family: 'VT323', monospace;*/
  font-family:Arial, Helvetica, sans-serif
}

body{
  display: flex;
  justify-content: center;
  background-color: black;
}

canvas{
  color: black;
  width: 50%;
  height: 100%;
}

ul{
  display: block;
  list-style: none;
}

/* .defaultCanvas{
  width: 100%;
  height: 100%;
  color: #000;
  z-index: -1;
} */

.container{
  width: 350px;
  display: flex;
  justify-content: safe;
  box-sizing: border-box;
  padding-left: 5%;
  
}

#exporter-body{
  display: flex;
  justify-content: center;
  background-color: black;
}

#projects-header{
  position: relative;
  justify-content: left;
  right: center;
  top: 4%;
}

#connections-header{
  right: center;
  left: 10%;
  top: 9%;
}

#cover {
  position: fixed; 
  height: 100%; 
  width: 100%; 
  top:0; 
  left: 0; 
  background: #000; 
  z-index:9999; 
  font-size: 60px; 
  text-align: center;
  padding-top: 200px; 
  color: #fff;
}

#name{
  display: flex;
  justify-content: center;
}

#projects{
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 50px;
}

#connections{
  display: flex;
  justify-content: center;
  text-align: left;
}

#background-stars{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#unity-canvas{
  z-index: 0;
}


